* { margin:0; padding:0; word-break:break-all; }
body {    background-color: #fff; color:#333; font:12px/1.5em Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size:1em; }
a { color:#2B93D2; text-decoration:none; }
a:hover { color:#E31E1C; text-decoration:underline; }
ul, li { list-style:none; }
fieldset, img { border:none; }

/* v_show style */
.v_show {
    width:800px;
    margin:auto;
}
.v_caption {
    height:35px;
    overflow:hidden;
}
.v_caption .cartoon {
    background-position: 0 -100px;
}
.highlight_tip {
    display:inline;
    float:left;
    margin:14px 350px;
    position: absolute;
    z-index: 5;
    width: 100%;
    bottom: 10px;
    font-size: 0;
    text-align: center;
}
.highlight_tip span {
    float:left;
    overflow:hidden;
    margin:0 2px;
    text-indent:-9999px;
    display: inline-block;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    position: relative;
    background: url(../images/sprites_index.png) no-repeat -250px -16px;
}
.highlight_tip .current {
    background-position: -250px 0;
}
.change_btn {  margin:7px 0 0 10px; }
.change_btn span {
    display:block;
    float:left;
    width:56px;
    height: 90px;
    overflow:hidden;
    /*background:url(img/btn_cartoon.gif) no-repeat;*/
    text-indent:-9999px;
    cursor:pointer;
}
.change_btn .prev {
    width:56px;
    height: 90px;
    margin-left: -100px;
    margin-top: -250px;
    background-color: lime;
    background: url(../images/sprites_index.png) no-repeat -160px -150px;
}
.change_btn .next {
    width:56px;
    height: 90px;
    margin-left: 850px;
    margin-top: -250px;
    background-color: red;
    background: url(../images/sprites_index.png) no-repeat -220px -150px;

}
.v_content {
    position:relative;
    width:800px;
    height:408px;
    overflow:hidden;
    border:none;
}
.v_content_list { position:absolute; width:10000px;top:0px; left:0px; }
.v_content ul {float:left;}
.v_content ul li { display:inline; float:left; margin:10px auto; padding:0; }
.v_content ul li a { display:block; width:800px; height:408px; margin: auto; overflow:hidden; }
.v_content ul li img {  width:800px; height:408px; }
.v_content ul li h4 { width:128px; height:18px; overflow:hidden; margin-top:12px; font-weight:normal; }
.v_content ul li h4 a { display:inline !important; height:auto !important; }
.v_content ul li span { color:#666; }
